## Что делать?
В этой домашке надо построить кучу графиков и описать, что на них происходит. Чем подробнее вы опишете - тем лучше.
Для вдохновения можно использовать презентацию по графикам и материалы из неё.

Оценка - тут всё просто: одно задание - 1 балл

In [1]:
!ls

Graphs_homework.ipynb     booking_data_homework.csv lesson_4.ipynb

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('booking_data_homework.csv')
df

,arrival_date,destination_region,destination_city,length_of_stay,has_meal,purpose_trip,sell_price,user_id,partner_geo
0,2019-07-06,International,Kundu,9,1,leasure,561135,16998,Arabia
1,2019-09-09,International,Jeju,4,1,business,10549,32296,Russia
2,2019-04-17,Russia,Arkhangelsk,1,1,business,3344,30401,Russia
3,2019-07-17,Western Europe,Paris,4,1,leasure,98563,33014,International
4,2019-04-22,Southern Europe,Zagreb,2,1,business,19249,32221,Balkans
5,2019-04-20,International,Shenzhen,3,1,business,18324,6690,Russia
6,2019-06-24,CIS,Baku,4,1,business,23896,6480,Russia
7,2019-08-27,Southern Europe,Bologna,4,1,business,14092,19043,Baltic States
8,2019-04-20,Western Europe,Berlin,4,0,business,19104,29356,Southern Europe
9,2019-05-24,Southern Europe,Naples,1,1,business,17519,29356,Southern Europe
10,2019-05-01,Southern Europe,Rome,1,1,leasure,4144,29356,Southern Europe
11,2019-05-08,Western Europe,London,1,1,business,9444,29356,Southern Europe
12,2019-08-05,Western Europe,Luton,3,1,business,12422,29356,Southern Europe
13,2019-07-01,International,Los Angeles,10,1,leasure,223429,8553,Russia
14,2019-04-23,Russia,Nizhniy Novgorod,1,1,business,3786,28079,Russia
15,2019-05-21,Southern Europe,Nicosia,2,1,business,10750,35805,Balkans
16,2019-06-02,International,Tallinn,1,0,business,3777,18390,Baltic States
17,2019-04-18,Southern Europe,Salou,4,1,leasure,23335,16170,International
18,2019-04-16,Russia,Nizhniy Novgorod,2,1,business,5638,14546,Russia
19,2019-04-16,Russia,Moscow,3,0,business,11209,6871,Russia
20,2019-04-17,Russia,Kemerovo,3,1,business,8309,16785,Russia
21,2019-04-21,Arabia,Doha,4,1,business,56193,34410,International
22,2019-05-20,Western Europe,Paris,6,1,leasure,125617,21306,CIS
23,2019-05-11,International,Gdansk,1,0,leasure,2690,34628,International
24,2019-06-30,International,Seogwipo,7,0,leasure,20570,28416,Russia
25,2019-04-19,Russia,Krasnaya Polyana,2,1,leasure,7445,11539,Russia
26,2019-07-21,Western Europe,Vienna,4,1,business,20776,18422,International
27,2019-04-23,CIS,Tashkent,3,1,business,102661,6903,Russia
28,2019-05-23,Russia,Irkutsk,1,0,business,1816,5938,Russia
29,2019-05-15,Western Europe,Paris,4,1,business,69810,11539,Russia
...,...,...,...,...,...,...,...,...,...
7602,2019-05-08,Russia,Sevastopol,5,0,business,16000,0,NaN
7603,2019-05-29,Southern Europe,Rimini,9,1,leasure,49757,0,NaN
7604,2019-04-24,International,Tallinn,3,0,business,15938,0,NaN
7605,2019-06-02,Southern Europe,Malaga,9,1,leasure,140402,0,NaN
7606,2019-04-16,Russia,Moscow,1,1,business,4614,0,NaN
7607,2019-05-22,Southern Europe,Barcelona,7,0,leasure,78627,0,NaN
7608,2019-05-01,Russia,Vladikavkaz,3,1,business,9000,0,NaN
7609,2019-04-26,Western Europe,Paris,7,0,leasure,103445,0,NaN
7610,2019-04-17,International,Helsinki,1,1,business,4798,0,NaN
7611,2019-05-15,International,Riga,9,1,leasure,46016,0,NaN
7612,2019-04-29,Southern Europe,Rome,6,1,leasure,37610,0,NaN
7613,2019-05-10,Western Europe,Frankfurt,9,1,leasure,117245,0,NaN
7614,2019-05-01,Western Europe,Paris,7,0,leasure,76330,0,NaN
7615,2019-07-11,Western Europe,Berlin,7,0,leasure,29442,0,NaN
7616,2019-04-30,International,Krakow,1,0,business,643,0,NaN
7617,2019-07-11,International,Helsinki,13,1,leasure,29420,0,NaN
7618,2019-04-25,Southern Europe,Torrevieja,27,0,leasure,112115,0,NaN
7619,2019-05-09,Russia,Moscow,1,1,leasure,4342,0,NaN
7620,2019-04-24,Western Europe,Paris,6,0,leasure,33706,0,NaN
7621,2019-06-10,Western Europe,Paris,6,0,leasure,60802,0,NaN
7622,2019-05-23,Southern Europe,L'Hospitalet de Llobregat,11,1,leasure,106849,0,NaN
7623,2019-06-19,Southern Europe,Milan,10,0,leasure,61814,0,NaN
7624,2019-04-24,Western Europe,Paris,4,0,business,56306,0,NaN
7625,2019-05-07,Western Europe,Ivry-sur-Seine,5,0,business,26268,0,NaN
7626,2019-06-22,Southern Europe,Barcelona,6,0,leasure,78650,0,NaN
7627,2019-05-31,Western Europe,Dusseldorf,5,1,business,29988,0,NaN
7628,2019-04-28,Southern Europe,Bologna,12,1,leasure,118471,0,NaN
7629,2019-05-01,Russia,Vladikavkaz,3,0,business,3900,0,NaN
7630,2019-07-01,Western Europe,Paris,6,0,leasure,61015,0,NaN
7631,2019-05-08,International,Tokyo,6,0,leasure,32143,0,NaN

## Задание 1
Посмотрим, партнёры из каких регионов делали бронирования в этот день (plt.bar())

In [5]:
# делаем небольшие преобразования с данными, записываем переменную partner_geo и выводим её
partner_geo = df['partner_geo'].value_counts()
partner_geo

Russia             4651
International       655
CIS                 611
Arabia              335
Balkans             255
Southern Europe     245
Baltic States       234
Visegrad Group      220
Western Europe      187
Name: partner_geo, dtype: int64

In [6]:
# а теперь уже строим график. Подсказка: вам нужна следующая строка:
# plt.bar(partner_geo.index, partner_geo, width, color='#d62728')
# а также нужно опдписать оси, легенду и всё-всё-всё

## Задание 2
Давайте посмотрим, как у нас выглядит распределение цен (plt.hist(cumulative=False)).

## Задание 3
Хм, выглядит не очень. Давайте попробуем сгруппировать цены в интервалы покрупнее (bar = 1000)

## Задание 4
Давайте посмотрим ещё крупнее, выберите интервал самостоятельно.

## Задание 5
Опишите получившуюся гистограмму

## Задание 6
Давайте сравним распределения цен по бизнес-поездкам и поездкам с целью отдыха (plt.plot([x], y), разными цветами надо покрасить business и leisure.

## Задание 7
Что тут видно?

## Задание 8
Постройте график зависимости стоимости бронирования от длительности проживания (вам поможет plt.scatter()).

## Задание 9
Опишите полученный график

## Задание 10
Постройте осмысленный plt.boxplot() на имеющихся данных. Расскажите, что показывает этот график