## Текстовые файлы и таблицы

Чтобы читать из текстового файла, сначала создаём файловый дескриптор.

Для чтения строк в текстовом файле используем readline, это такой аналог input

In [6]:
fin = open('text_file.txt', 'r', encoding = 'utf8')

s = fin.readline()
print(s)

1 2 3 4 5 6

In [9]:
# суммируем числа из текстового файла
fin = open('text_file.txt', 'r', encoding = 'utf8')

# преобразуем каждый элемент полученной последовательности в число
s = sum(map(int, fin.readline().split()))
print(s)

21

Если открыли дескриптор - хорошо бы его потом закрыть.

In [10]:
fin = open('text_file.txt', 'r', encoding = 'utf8')

s = sum(map(int, fin.readline().split()))
s2 = sum(map(int, fin.readline().split()))

fin.close

print(s, s2)

21 24

In [13]:
# считаем число строк с упоминанем нужного нам слова

fin = open('text_file.txt', 'r', encoding = 'utf8')

cnt = 0
for line in fin:
    if 'панда' in line:
        cnt +=1

fin.close
print(cnt)

2

In [15]:
# считаем сумму числе в файле
fin = open('numbers.txt', 'r', encoding = 'utf8')

# сначала считываем вообще всё содержимое файла

s = sum(map(int,fin.read().split())) 

fin.close()

print(s)

46178

Метод read считывает всё содержимое файла в одну строку.
Если точнее - считывает в один string объект все lines, которые есть файле - то есть строки, которые заканчиваются переводом строки.

In [16]:
fin = open('numbers.txt', 'r', encoding = 'utf8')

s = fin.readlines()

fin.close()

print(s)

['2 6 7 8 \n', '\n', '         45667 \n', '             345\n', '             \n', '        3  3 3 56 78']

readlines считывает все строки в список
\n - это перевод строки

Методы read и readlines позволяют всё содержимое файла получить в строковой переменной. И если файл большой - то мы забиваем память. В таких случаях лучше считывать строки через цикл for, чтобы в памяти единовременно хранилась одна короткая строка

In [26]:
# пишем в файл
# выведем строки из одного файла в другой в обратном порядке

fin = open('numbers.txt', 'r', encoding = 'utf8')
fout = open('output.txt', 'w', encoding = 'utf8')
s = fin.readlines()
print(''.join(s[::-1]), file = fout) #используем разделитель и объединяем развёрнутый список

fout.close()
fin.close()

Где искать файл?
Там же, где лежит проект.

Что не так с файлом?

Строк стало вдвое больше.
Это происходит потому, что метод readlines сохраняет в конце строки перевод строки. Полчается, мы своим кодом добавляем дополнительный перевод строки.

Что надо делать? 

Объединять строки не через перевод строки '\n', а через пустую строку.

## CSV files

comma-separated values: https://ru.wikipedia.org/wiki/CSV

Термином «CSV» могут обозначаться похожие форматы, в которых разделителем является символ табуляции (TSV) или точка с запятой.

In [28]:
file = open('may_bookings.csv', 'r', encoding = 'utf8')

vals = []
for line in file:
    now = line.split(';') # что-то не так
    print(now)
    
file.close()

['3932', '1602', '78194\n']
['5600', '131902', '117633\n']
['11815', '75070', '120535\n']
['25200', '4337', '108090\n']
['23000', '122798', '83\n']
['924', '123415', '59640\n']
['1041', '4230', '118349\n']
['68479', '35882', '224815\n']
['1760', '145849', '893115\n']
['17000', '2200', '39888\n']
['18588', '128734', '145596\n']
['18000', '7566', '30222\n']
['11402', '1393', '31871\n']
['4308', '3318', '93517\n']
['3697', '8199', '66884\n']
['3586', '3116', '53344\n']
['11079', '20016', '156983\n']
['61402', '6717', '66101\n']
['2388', '20995', '50238\n']
['3244', '3838', '56492\n']
['82277', '60171', '62622\n']
['9972', '10250', '12011\n']
['75819', '311', '70895\n']
['64722', '70905', '63128\n']
['94971', '649', '53013\n']
['4929', '26455', '23000\n']
['158927', '138021', '110626\n']
['109947', '86598', '2500\n']
['58195', '15158', '11500\n']
['6732', '129440', '17000\n']
['16201', '82456', '3347\n']
['23000', '18588', '4352\n']
['1249', '13941', '18588']

In [34]:
file = open('may_bookings.csv', 'r', encoding = 'utf8')

vals = []
for line in file:
    now = line.split(';')
    vals.extend(list(map(int, now)))
print(vals)
    
file.close()

[3932, 1602, 78194, 5600, 131902, 117633, 11815, 75070, 120535, 25200, 4337, 108090, 23000, 122798, 83, 924, 123415, 59640, 1041, 4230, 118349, 68479, 35882, 224815, 1760, 145849, 893115, 17000, 2200, 39888, 18588, 128734, 145596, 18000, 7566, 30222, 11402, 1393, 31871, 4308, 3318, 93517, 3697, 8199, 66884, 3586, 3116, 53344, 11079, 20016, 156983, 61402, 6717, 66101, 2388, 20995, 50238, 3244, 3838, 56492, 82277, 60171, 62622, 9972, 10250, 12011, 75819, 311, 70895, 64722, 70905, 63128, 94971, 649, 53013, 4929, 26455, 23000, 158927, 138021, 110626, 109947, 86598, 2500, 58195, 15158, 11500, 6732, 129440, 17000, 16201, 82456, 3347, 23000, 18588, 4352, 1249, 13941, 18588]

In [29]:
# посчитаем медианную и среднюю стоимость

import statistics

file = open('may_bookings.csv', 'r', encoding = 'utf8')

vals = []
for line in file:
    now = line.split(';')
    vals.extend(list(map(int, now)))
    
print(statistics.median(vals))
print(statistics.mean(vals))
    
file.close()

23000
55269.47474747475

In [30]:
import pandas as pd

data = pd.read_csv('booking.csv', encoding = 'utf8')

In [68]:
# Смотрим первые три строки
data[:3]

,arrival_date,destination_region,destination_city,length_of_stay,has_meal,purpose_trip,sell_price,user_id
0,2019-04-01,International,Prague,1,1,leasure,13956,13879
1,2019-04-12,International,Iru Fushi,4,1,business,249652,34483
2,2019-02-14,Russia,Kostroma,5,0,business,12647,19613

In [71]:
data.head()

,arrival_date,destination_region,destination_city,length_of_stay,has_meal,purpose_trip,sell_price,user_id
0,2019-04-01,International,Prague,1,1,leasure,13956,13879
1,2019-04-12,International,Iru Fushi,4,1,business,249652,34483
2,2019-02-14,Russia,Kostroma,5,0,business,12647,19613
3,2019-02-18,International,Budapest,3,1,business,84109,22760
4,2019-02-28,Russia,Sochi,1,1,business,3987,17577

## Чтение XLSX-файлов

In [33]:
# читаем название листов
from openpyxl import load_workbook

wb = load_workbook(filename = 'may_bookings.xlsx')
print(wb.sheetnames)

['List1', 'Salary', 'Job']

In [34]:
wb = load_workbook(filename = 'may_bookings.xlsx')

sheet = wb['List1']
print(sheet)

<Worksheet "List1">

In [36]:
# вытаскиваем значения с листа

wb = load_workbook(filename = 'may_bookings.xlsx')
print(wb.sheetnames)
print(wb['List1']['A1'].value)
print(wb['List1']['B1'].value)

['List1', 'Salary', 'Job']
5600
66101

In [39]:
print(wb['List1']['A1'].value + 5)
print(wb['List1']['B1'].value + 2)
print(wb['List1']['A1'].value + wb['List1']['B1'].value)

5605
66103
71701

In [40]:
sheet = wb['List1']
c = sheet['B3']
print(c)
print(c.value)
print(c.column)
print(c.row)
print(c.coordinate)

<Cell 'List1'.B3>
56492
B
3
B3

In [42]:
# ищем значение в таблице
d = sheet.cell(row = 7, column = 1)
print(d.value)

1041

In [49]:
# переберём все значения, когда мы знаем, сколько значений в таблице
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet = wb['List1']
for i in range(1, 51):
    for j in range(1, 3):
        d = sheet.cell(row = i, column = j)
        print(d.value)

5600
66101
3932
50238
11815
56492
25200
62622
23000
12011
924
70895
1041
63128
68479
53013
1760
75819
17000
64722
18588
94971
18000
4929
11402
158927
4308
109947
3697
58195
3586
6732
11079
16201
61402
23000
2388
1249
3244
23000
82277
110626
9972
2500
131902
11500
1602
17000
75070
3347
4337
4352
122798
18588
123415
18588
4230
13941
35882
18588
145849
70905
2200
649
128734
26455
7566
138021
1393
86598
3318
15158
8199
129440
3116
82456
20016
117633
6717
78194
20995
120535
3838
108090
60171
83
10250
59640
311
118349
31871
224815
93517
893115
66884
39888
53344
145596
156983
30222

In [50]:
# как делать, если мы не знаем размер таблицы?
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet = wb['List1']
for i in range(sheet.min_row, sheet.max_row + 1):
    for j in range(sheet.min_column, sheet.max_column + 1):
        d = sheet.cell(row = i, column = j)
        print(d.value)

5600
66101
3932
50238
11815
56492
25200
62622
23000
12011
924
70895
1041
63128
68479
53013
1760
75819
17000
64722
18588
94971
18000
4929
11402
158927
4308
109947
3697
58195
3586
6732
11079
16201
61402
23000
2388
1249
3244
23000
82277
110626
9972
2500
131902
11500
1602
17000
75070
3347
4337
4352
122798
18588
123415
18588
4230
13941
35882
18588
145849
70905
2200
649
128734
26455
7566
138021
1393
86598
3318
15158
8199
129440
3116
82456
20016
117633
6717
78194
20995
120535
3838
108090
60171
83
10250
59640
311
118349
31871
224815
93517
893115
66884
39888
53344
145596
156983
30222

In [51]:
# возьмём данные из диапазона
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet = wb['List1']

for cellObj in sheet['A1':'B3']:
    for cell in cellObj:
        print(cell.value)

5600
66101
3932
50238
11815
56492

In [53]:
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet = wb['List1']

In [55]:
# обращаемся к разным листам
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet1 = wb['Salary']
salary = {}

for i in range(1, sheet1.max_row + 1):
    name = sheet1.cell(row = i, column = 1).value
    money = sheet1.cell(row = i, column = 2).value
    salary[name] = money
print(salary)

sheet2 = wb['Region']
region = {}

for i in range(1, sheet2.max_row + 1):
    name = sheet2.cell(row = i, column = 1).value
    city = sheet2.cell(row = i, column = 2).value
    region[name] = city
print(region)

{'Anna': 100, 'Alina': 80, 'Peskov': 666666}
{'Alina': 'Moscow', 'Anna': 'Gatchina', 'Peskov': 'Moscow'}

In [56]:
# поправим файл и сохраним как новый 
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet1 = wb['Salary']

sheet1['B3'] = 3

wb.save('updated_file.xlsx')

In [57]:
# поправим файл и сохраним как новый 
wb = load_workbook(filename = 'may_bookings.xlsx')
sheet1 = wb['Salary']

sheet1.append(['Sasha', 300])

wb.save('updated_file_1.xlsx')

Домашка - почитать документацию для библиотек, которые мы здесь использовали. Это будет нужно для решения задачек